
    .header{
        width: 65vw;
        border: 0.1px solid black;
        display: flex;
        justify-content: center;
        padding: 10px;
        margin:0 auto;
        background-color: #f79372;
        color: #fff;
      }
      .header-name{
        font-family: "Arial";
        text-align: center;
        color: black;
        
    }