.label-container{
    width: 20vw;
    right: 20px;
    left:20px;
    margin:2px;
    height: auto;
    color:black;
    border: none;
    padding: 10px;
    display: flex;
    position: relative;
    background-color: rgba(247, 168, 194, 0.856);
    font-family: "Arial";
    text-align: left;
    font-size: 20px;

    // width: 30px;
    // padding: 10px;
    // left:45px;
    // right: 100px;
    // position: relative;
    // background-color: rgba(247, 207, 100, 0.856);
    // margin: 2px;
}